html {
    scroll-behavior: smooth;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;

}
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}

body::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "neutra";
    src: url("NeutraText-book.otf") format("opentype");
}

@font-face {
    font-family: "neutra-bold";
    src: url("NeutraText-bold.otf") format("opentype");
}

@font-face {
    font-family: "robot";
    src: url("Robot Renegades.otf") format("opentype");
}

body {
    padding: 0;
    margin: 0;
    font-family: "neutra-bold";
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(170, 7, 35);
}

.footer {
    width: 100%;
    height: 250px;
    background-color: rgb(170, 7, 35);
    position: relative;
    border-top: 10px solid rgb(249, 211, 139);
}


.footer .logo {
    margin-top: 35px;
    color: rgb(249, 211, 139);
    position: relative;
    border: 2px solid rgb(249, 211, 139);
    padding: 6px;
    font-size: 15px;
    z-index: 200;
    display: inline-block;
}

.footer img {
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: 50px;
    padding: 15px;
}

.slideshowContainer {
    height: 66vw;
    width: 100vw;
}

.slideshow {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
}

.slideNavigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 50px;
    height: 10px;
    border: 2px solid rgb(249, 211, 139);
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: rgb(249, 211, 139);
    ;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 1000%;
    height: 100%;
    display: flex;
}

.slide {
    width: 10%;
    transition: 0.6s;
}

.slide img {
    position:absolute;
    width: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -10%;
}

#r3:checked ~ .s1 {
    margin-left: -20%;
}

#r4:checked ~ .s1 {
    margin-left: -30%;
}

#r5:checked ~ .s1 {
    margin-left: -40%;
}

#r6:checked ~ .s1 {
    margin-left: -50%;
}

#r7:checked ~ .s1 {
    margin-left: -60%;
}

#r8:checked ~ .s1 {
    margin-left: -70%;
}

#r9:checked ~ .s1 {
    margin-left: -80%;
}

#r10:checked ~ .s1 {
    margin-left: -90%;
}
#towerTakeoverYT {
    width: 560px;
    height: 316px;
    z-index: 300;
    border-radius: 9px;
    position: relative;
    margin-top: 40px;
}

#vexInfoSection {
    width: 100%;
    height: 100%;
}

#vexInfoSection p {
    color: rgb(249, 211, 139);
    font-size: 20px;
    font-family: 'neutra';
}

#vexInfoSection img {
    z-index: 200;
    width: 400px;
    height: 400px;
    margin-left:150%;
    margin-top: -90px;
    position: absolute;
}

.background3 {
    background-color: rgb(170, 7, 35);
    padding: 0;
    margin: 0;
    height: 100%;
    width: 52%;
    position: absolute;
    z-index: 0;
}

.background4 {
    background-image: linear-gradient(rgb(137, 4, 29), rgb(170, 7, 35) 80%);
    padding: 0;
    margin: 0;
    margin-left: 50%;
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 0;
}

@keyframes pulse_animation {
    10% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
}

.pulsate {
    border: none;
    background: none;
    position:absolute;
    bottom:35px;
    animation-name: pulse_animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width:50px;
    height:50px;
    transform:translateX(-25px);
}

#cardContainer {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: 0.8s ease-in-out;
    left: 0;
}

#teamsContainer {
    width: 100%;
    height: 90%;
    background-color: rgb(170, 7, 35);
    position: relative;
    border-bottom: 10px solid rgb(249, 211, 139);
    overflow-x:hidden;
}

#teamsBackgroundTitle {
    width: 100%;
    height: 100%;
    background-color: rgb(249, 211, 139);
    z-index: 200;
    position: absolute;
    overflow: hidden;
    transition: 2.5s ease-in-out;
}

#teamsBackgroundTitle h1 {
    font-size: 250;
    color: rgb(170, 7, 35);
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: 200px;
    margin-top: -35px;
}

#teamsBackgroundTitle h2 {
    font-size: 100;
    color: rgb(137, 4, 29);
    margin: 0;
    padding: 0;
    margin-top: 50px;
    position: relative;
    margin-left: 200px;
}

.card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    width: 275px;
    height: 400px;
    border-radius: 10px 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 20px;
    margin-left: 135px;
    text-align: center;
    display: inline-block;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.65);
}
.vexInfoText1  {
    width:40%;    
    margin-left:4%;
    position:absolute;
}
.vexInfoText2 {
    width:40%;
    margin-left:55%;
    margin-top:200px;
    text-align:right;
    position:absolute;
}

.moveTeamsButtonLeft {
    position: absolute;
    top: 50%;
    left: 20px;
    background: none;
    font-size: 50px;
    color: rgb(249, 211, 139);
    border: none;
    z-index: 100;
}

.moveTeamsButtonRight {
    position: absolute;
    top: 50%;
    right: 20px;
    background: none;
    font-size: 50px;
    color: rgb(249, 211, 139);
    border: none;
    z-index: 100;
}

.teamPageImage {
    display: inline-block;
    position: relative;
    font-size: 150px;
    color: black;
    background-color: rgb(249, 211, 139);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.65);
    width: 100%;
    height:100%;
    mix-blend-mode: screen;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.25s ease-in-out;
    line-height: 125px;
}

.card:hover .teamPageImage {
    background-color: black;
}

.card:hover .teamPageLink {
    transform: translateY(10px);
    opacity: 1;
}

.teamPageLink {
    background-color: rgb(249, 211, 139);
    color: rgb(137, 4, 29);
    font-size: 16px;
    border-radius: 5px;
    opacity: 0;
    overflow: hidden;
    transition: 0.25s ease-in-out;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    text-decoration: none;
}

#splash {
    height: 100%;
    width: 100%;
}

.teamLogo {
    color: rgb(249, 211, 139);
    position: relative;
    top: -34px;
    border: 2px solid rgb(249, 211, 139);
    padding: 6px;
    display: inline;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
    z-index: 200;
}

.contactText1 {
    position: absolute;
    float: right;
    color: rgb(249, 211, 139);
    font-size: 15px;
    right: 40px;
    top: 25px;
    z-index: 100;
    height: 16px;
    overflow: hidden;
    opacity: 1;
    transition: 0.2s ease-in-out;
    text-decoration:none;
    background-color:rgb(0,123,255);
    border-radius:5px;
    padding:10px;
}
.contactText1:hover {
    background-color:rgb(2, 108, 222);
}
#sidenav {
    position: absolute;
    top: 34%;
    left: 45px;
    z-index: 100;
    transition: 1.5s ease-in-out;
    overflow:hidden;
    width:0;
}

.sidenavContent {
    line-height: 30px;
}

.link {
    text-decoration: none;
    color: rgb(249, 211, 139);
    font-size: 15px;
    opacity: 0.4;
    transition: 0.2s ease-in-out;

}

.link:hover {
    opacity: 1;
    font-size: 16px;
    padding-left:5px;

}

.sidenavContent .activeLink {
    opacity: 1;
    font-size: 30px;
    padding-left:5px;
}

.sidenavContent .menuTD {
    padding: 0;
    width: 0px;
    overflow: hidden;
    display: block;
    transition: 0.5s ease-in-out;
}

#menuTeamList {
    position: absolute;
    top: 34%;
    left:0;
    margin-left:-40px;
    width:30px;
    z-index: 200;
    transition: 0.75s ease-in-out;
    background-color:rgb(249, 211, 139);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    text-align:center;
    line-height:30px;
    border-radius:0 10px 10px 0;
    padding:5px;
}
#menuTeamList a {
    color:rgb(170, 7, 35);
    font-size:20px;
}


.largeTitle {
    margin-top: 20px;
    position: relative;
    font-size: 70px;
    color: rgb(249, 211, 139);
    text-align: center;
    z-index: 100;
    font-family: "neutra";
}

.thinTitle {
    font-family: 'robot', sans-serif;
    margin-top: -45px;
    margin-right: 2.5%;
    position: relative;
    font-size: 240px;
    text-align: center;
    z-index: 100;
    opacity: 0.6;
    letter-spacing:40px;
}

.robotImage {
    margin-top: -317px;
    position: relative;
    z-index: 100;
    opacity: 0.7;
    width: 245px;
    height: 245px;
}

.background1 {
    background-color: rgb(170, 7, 35);
    padding: 0;
    margin: 0;
    height: 100%;
    width: 52%;
    position: absolute;
    z-index: 0;
}

.background2 {
    background-color: rgb(137, 4, 29);
    padding: 0;
    margin: 0;
    margin-left: 50%;
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 0;
}

.texture {
    background-image: url("images/background-texture.png");
    background-size: 100px 100px;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
}

.topnav {
    z-index: 100;
}

#topButton {
    padding: 10px;
    background-color: rgb(249, 211, 139);
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 300;
    border-radius: 50%;
    opacity: 0;
    bottom: -50px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.vexText {
    font-size:40px;
}
/* Line stuff */

.line {
    margin: auto;
    height: 2px;
    background-color: rgb(249, 211, 139);
    opacity: 0;
    width: 0;
    transition-duration: 0.25s;
    border-radius: 2px;
    margin-left: 35px;
}

#toggleMenu:hover .line {
    opacity: 1;
    width: 42px;
}


/* Hamburger stuff */

.hamburger {
    outline: none;
    padding: 15px 15px;
    padding-top: 20px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: rgb(249, 211, 139);
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: rgb(249, 211, 139);
}

.hamburger-box {
    height: 20px;
    width: 34px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 28px;
    height: 2px;
    background-color: rgb(249, 211, 139);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -7px;
}

.hamburger-inner::after {
    bottom: -7px;
}

.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#toggleMenu {
    margin-left: 25px;
    margin-top: 10px;
    font-size: 15px;
    z-index: 100;
}

#menuButton {
    margin-left: 35px;
}

.vex2019text {
    position: absolute;
    float: right;
    color: rgb(249, 211, 139);
    font-size: 21px;
    right: 40px;
    bottom: 31px;
    z-index: 100;
    
}
.vexInfoText1 a .vexInfoText2 a {
    font-size:16px;
}




@media only screen and (max-width:1024px) {
    #sidenav {
        top: 200px;
    }
    #menuTeamList {
        top:200px;
    }
    .link {
        font-size: 15px;
    }
    
    .link:hover {
        font-size: 16px;
    } 
    #splash {
        height:500px;
    }
    .vex2019text {
        position: absolute;
        top:450px;
    }

#splash .texture {
    height:800px;
}
    
.background2 {
    height:500px;
}
#vexInfoSection .texture {
    height:700px;
}

    #toggleMenu {
        font-size: 16px;
    }
    #toggleMenu:hover .line {
        width: 45px;
    }
    .teamLogo {
        font-size: 15px;
    }
    .contactText1 {
        font-size: 15px;
        height: 16px;
    }
    #vexInfoSection p {
        font-size: 20px;
    }



    .thinTitle {
        font-size: 200px;
    }
    #vexInfoSection {
        height: 675px;
    }
    #towerTakeoverYT {
        width: 40.36vw;
        height: 22.79vw;
        margin-top: 40px;
    }
    #vexInfoSection img {
        width: 32.55vw;
        height: 32.55vw;
        margin-left:140%;
        margin-top: 0px;
    }
    #teamsContainer {
        height: 500px;
    }
    #teamsBackgroundTitle h1 {
        font-size: 160px;
        margin-left: 100px;
    }
    
    #teamsBackgroundTitle h2 {
        font-size: 75px;        
        margin-top: 50px;
        margin-left: 100px;
    }
    .slideshowContainer {
        height: 66vw;
        width: 100vw;
    }
    .card {
        opacity:0;
        height:0;        margin:0;
        margin-top:20px;
    }
    #cardContainer td {
        width:100%;
        position:absolute;
    }
}



@media only screen and (max-width:767px) {
    body{
        width:100%;
    }
    #sidenav {
        top: 175px;
        left: 35px;
    }
    #menuTeamList {
        top:175px;
        width:15px;
        line-height:15px;
    }
    
    .link {
        font-size: 10px;
    } 
    #splash {
        height:350px;
    }
    .vex2019text {
        position: absolute;
        top:280px;
        font-size: 11px;
    }
    .vexText {
        font-size:25px;
    }
    #menuTeamList a {
        font-size:10px;
    }
    .sidenavContent {
        line-height: 15px;
    }
    .vexInfoText1 {
        text-align:center;
        width:70%;
        margin-left:15%;
        position:relative;
    }
    .vexInfoText2 {
        text-align:center;
        width:70%;
        margin-left:15%;
        margin-top:-50px;
        position:relative;
    }
    .vexInfoText1 a {
        font-size:11px;
    }
    .vexInfoText2 a {
        font-size:11px;
        margin-bottom:20px;
    }
    #toggleMenu {
        font-size: 11px;
        margin-left: 10px;
    }
    #toggleMenu:hover .line {
        width: 45px;
    }
    .teamLogo {
        font-size: 10px;
    }
    .contactText1 {
        font-size: 10px;
        height: 11px;
        right:20px;
        border-radius:3px;
        padding:5px;
    }

    .link:hover {
        font-size: 11px;
        padding-left:4px;
    }
    
    .sidenavContent .activeLink {
        font-size: 15px;
        padding-left:4px;
    }
    #vexInfoSection p {
        font-size: 13px;
    }
    
#toggleMenu:hover .line {
    opacity: 1;
    width: 30px;
}

.robotImage {
    margin-top: -125px;
    width: 100px;
    height: 100px;
}
    .largeTitle {
        font-size: 40px;
    }


    .thinTitle {
        font-size: 100px;
        letter-spacing:20px;
        padding-top:20px;
    }

    #towerTakeoverYT {
        width: 250px;
        height:150px;
        margin-left:50%;
        transform:translateX(-125px);
        margin-top: 15px;
        position:relative;
        margin-bottom:0;
    }
    #vexInfoSection img {
        width: 200px;
        height: 200px;
        margin-left:50%;
        transform:translateX(-100px);  
        margin-top: 0px;
        position:relative;
    }
    #teamsContainer {
        height: 500px;
    }
    #teamsBackgroundTitle h1 {
        font-size: 22.5vw;
        margin-left: 40px;
    }
    
    #teamsBackgroundTitle h2 {
        font-size: 12.5vw;        
        margin-top: 50px;
        margin-left: 40px;
    }
    .slideshowContainer {
        height: 66vw;
        width: 100vw;
    }
    .card {
        opacity:0;
        height:0;        
        margin:0;
        width:200px;
        margin-top:20px;
    }
    #cardContainer td {
        width:100%;
        position:absolute;
    }
    .bar {
        width: 12px;
        height: 5px;

    }
    
.footer {
    height: 125px;

}


.footer .logo {
    margin-top: 10px;
    font-size: 10px;
}

.footer img {
    width: 25px;
    height: 25px;
    margin-top: 15px;
    padding: 15px;
}
#topButton {
display:none;
}
#vexInfoSection .texture {
    height:1000px;
}
#splash .texture {
    height:600px;
}
.background2 {
    height:350px;
}
.moveTeamsButtonLeft {
    left: 10px;
    font-size: 40px;
}
.moveTeamsButtonRight {
    right: 10px;
    font-size: 40px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 20px;
    height: 2px;
}
}
